@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="mt-10 max-w-md mx-auto">
    <h1 class="font-bold text-3xl">@ViewData["Title"]</h1>
    <hr />
</div>
<div class="mt-6">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
