@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="mt-10 max-w-md mx-auto">
    <h1 class="font-bold text-3xl">@ViewData["Title"]</h1>
    <hr />
</div>
<div class="mt-10 max-w-md mx-auto">
    <div class="mb-10 max-w-1/2">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="font-bold text-xl">Create a new account.</h2>
            <hr />
            <div class="my-4">
                <div asp-validation-summary="ModelOnly" class="text-sm text-red-600"></div>
                <div class="flex flex-col my-2">
                    <label class="font-bold" asp-for="Input.UserName">Username</label>
                    <input asp-for="Input.UserName" class="px-2 rounded border border-gray-600 drop-shadow-md bg-gray-100 h-10" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.UserName" class="text-sm text-red-600"></span>
                </div>
                <div class="flex flex-col my-2">
                    <label class="font-bold" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="px-2 rounded border border-gray-600 drop-shadow-md bg-gray-100 h-10" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-sm text-red-600"></span>
                </div>
                <div class="flex flex-col my-2">
                    <label class="font-bold" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="px-2 rounded border border-gray-600 drop-shadow-md bg-gray-100 h-10" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-sm text-red-600"></span>
                </div>
                <div class="flex flex-col my-2">
                    <label class="font-bold" asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="px-2 rounded border border-gray-600 drop-shadow-md bg-gray-100 h-10" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-sm text-red-600"></span>
                </div>
            </div>
            <div class="mt-10 text-right">
                <button id="registerSubmit"
                        type="submit"
                        class="w-32 text-sm text-white font-bold h-12 bg-sky-500 hover:bg-indigo-500 transition uppercase sm:rounded rounded-lg">
                    Register
                </button>
            </div>

            <div class="mt-8">
                <p class="my-4 pt-3">
                    <a asp-page="./Login"
                       asp-route-returnUrl="@Model.ReturnUrl"
                       class="hover:text-indigo-500 text-black underline">
                        Already have an Account? <strong>Login</strong> here
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
