@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="mt-10 max-w-md mx-auto">
    <h1 class="font-bold text-3xl">@ViewData["Title"]</h1>
    <hr />
</div>
<div class="mt-6">
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>