@using SmartphonePortal_Vervoort_Wagner.Shared.Requests

<EditForm EditContext="@editContext" Context="ReviewContext">
    <div class="flex flex-col">
        <div>
            <InputText class="px-2 rounded border border-gray-400 bg-white h-10"
                       @bind-Value="@NewReview.Title" />
        </div>
        <div>
            <InputTextArea class="px-2 rounded border border-gray-400 bg-white h-10"
                           @bind-Value="@NewReview.Text" />
        </div>
        @*   <div>
        <InputNumber class="px-2 rounded border border-gray-400 bg-white h-10"
        @bind-Value="@NewReview.Rating" />
        </div>*@
    </div>
</EditForm>
@code {
    [Parameter] public int SmartphoneId { get; set; }
    private EditContext? editContext;
    public ReviewCreationRequest NewReview { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        editContext = new(NewReview);
        editContext.EnableDataAnnotationsValidation();

        await base.OnInitializedAsync();
    }
}
