@using SmartphonePortal_Vervoort_Wagner.Shared.ViewModels
@inject NavigationManager navigationManager

<article>
    <div @onclick=@GoToDetails class="flex flex-col bg-gradient-to-l from-sky-500 to-indigo-500 my-2 mx-auto text-white rounded-lg cursor-pointer hover:scale-105 transition">
        <div class="flex justify-between mb-2 p-2 ">
            <div class="flex flex-col">
                <div class="font-bold text-xl">
                    @Smartphone.Name
                </div>
                <div>
                    @Smartphone.Manufacturer.Name
                </div>
            </div>
            <div class="self-end">
                <StarRating Rating="Smartphone.Rating" />
            </div>
        </div>
        <div class="rounded">
            @if (!string.IsNullOrEmpty(TeaserPicture))
            {
                <img class="object-cover rounded-b-lg" loading="lazy" src="@TeaserPicture" style="height: 200px; width: 100%;" />
            }
        </div>
    </div>
</article>

@code {
    [Parameter] public SmartphoneViewModel Smartphone { get; set; } = new();
    public string TeaserPicture { get; set; } = string.Empty;

    protected override Task OnInitializedAsync()
    {
        if (Smartphone.Pictures.Count > 0)
        {
            TeaserPicture = Smartphone.Pictures.First().PathToData;

        }

        return base.OnInitializedAsync();
    }

    public void GoToDetails()
    {
        navigationManager.NavigateTo("/smartphone/" + Smartphone.SmartphoneId);
    }
}
