
<div class="flex">
    @for (int i = 0; i < 5; i++)
    {
        if (i < Rating)
        {
            <i class="fa-solid fa-star"></i>
        }
        else
        {
            <i class="fa-regular fa-star"></i>
        }
    }
</div>

@code {
    [Parameter] public int Rating { get; set; }
}
