@page "/admin"
@using Microsoft.AspNetCore.Authorization
@using SmartphonePortal_Vervoort_Wagner.Client.Partials
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout


<div class="max-w-2xl mx-auto">
    <div class="mt-10">
        <h3 class="text-3xl">Overview</h3>
        <hr />
    </div>
</div>

@code {

}