@page "/about"

<div class="mt-10 mx-auto max-w-lg">
    <h3 class="text-3xl">About</h3>
    <hr />
    <div class="mt-10">
        <p class="text-lg">
            This application is made as a school project by Wout Vervoort and Kevin Wagner.
            <br />
            The code should also be available on <a class="hover:underline hover:text-blue-800" href="https://github.com/Th3shoterZ/SmartphonePortal"><i class="fa-brands fa-github"></i> GitHub</a>
        </p>
        <div class="mt-10">
            <p class="mb-2 text-lg font-semibold text-gray-900">
                This project is build on
            </p>
            <ul class="max-w-md space-y-1 text-gray-900 list-disc list-inside">
                <li>
                    <a class="hover:underline hover:text-blue-800" href="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-7.0">
                        Blazor Webassembly
                    </a>
                </li>
                <li>
                    <a class="hover:underline hover:text-blue-800" href="https://tailwindcss.com">
                        TailwindCss
                    </a>
                </li>
                <li>
                    <a class="hover:underline hover:text-blue-800" href="https://www.mysql.com">
                        MySql
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}
