@page "/admin/phonemanager"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout


<div class="max-w-lg mx-auto">
    <div class="mt-10">
        <h3 class="text-3xl">Phone Manager</h3>
        <hr />
    </div>
</div>

@code {

}
