<div>
    <div class="mt-10 mx-auto max-w-lg">
        <h1 class="text-3xl">There's nothing at this address</h1>
        <hr />
        <br />
        <p>
            <img class="mx-auto h-32 w-32" src="https://tenor.com/de/view/so-really-travolta-lost-where-now-gif-13759718.gif" />
        </p>
    </div>
</div>

@code {

}
