@page "/"
@using SmartphonePortal_Vervoort_Wagner.Client.Partials
@using SmartphonePortal_Vervoort_Wagner.Shared.ViewModels

@inject IHttpClientFactory ClientFactory

<PageTitle>Smartphone Portal</PageTitle>

<div>
    <div class="mt-10 mx-auto max-w-lg">
        <h1 class="text-3xl">Smartphone Portal!</h1>
        <hr />
        <div class="mt-2">
            <p>
                All the best smartphone takes in one place!
            </p>
        </div>
    </div>
    <div class="mx-auto mt-20 max-w-3xl">
        @if (IsRequestInProcess)
        {
            <Loader />
        }
        else
        {
            <div class="grid grid-cols-12 gap-4">
                @foreach (var smartphone in Smartphones)
                {
                    <div class="sm:col-span-4 col-span-12">
                        <SmartphoneCard Smartphone="smartphone" />
                    </div>
                }
            </div>
        }
    </div>

</div>

@code {
    public List<SmartphoneViewModel> Smartphones { get; set; } = new();
    public bool IsRequestInProcess { get; set; }
    private HttpClient? _client;

    protected override async Task OnInitializedAsync()
    {
        IsRequestInProcess = true;
        _client = ClientFactory.CreateClient("AnonymousApi");
        try
        {
            Smartphones = await _client.GetFromJsonAsync<List<SmartphoneViewModel>>("/api/Smartphone/all") ?? new();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        IsRequestInProcess = false;

        await base.OnInitializedAsync();
    }
}