@page "/phone/{Id}"
@using SmartphonePortal_WV_KW.Shared.ViewModels
@inject HttpClient Http


<h3>phonedetails</h3>

<h5>@Id</h5>

@code {
    [Parameter]
    public int Id { get; set; }

    private SmartphoneDetailsViewModel? SmartphoneDetails { get; set; }
    private string ErrorMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetSmartphoneDetails();
    }

    private async Task GetSmartphoneDetails()
    {
        try
        {
            var phonedeets = await Http.GetFromJsonAsync<SmartphoneDetailsViewModel>($"api/getsmartphonedetails?id={Id}");
            if (phonedeets != null)
            {
                SmartphoneDetails = phonedeets;
            }
        }
        catch (Exception e)
        {
            ErrorMessage = e.Message;   
        }
    }
}
