@page "/phones"
@using SmartphonePortal_WV.Shared.ViewModels

@inject HttpClient Http

<h3>Phones</h3>

@foreach(SmartphoneViewModel phone in Smartphones)
{
    <div class="card">
        <div class="card-body row">
            <div class="col-4">
                <img src="/TestFolder/tel.jpeg" alt="tel">
            </div>
            <div class="col-8">
                <h5 class="card-title">@phone.Name</h5>
                <a href="/phone/@phone.Id" class="stretched-link" /> 
            </div>
        </div>
    </div>
}

<style>
    img {
        width: 100%;
    }
</style>

@code {
    private List<SmartphoneViewModel> Smartphones { get; set; } = new List<SmartphoneViewModel>();
    private string ErrorMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetSmartphones();
    }

    private async Task GetSmartphones()
    {
        try
        {
            var phones = await Http.GetFromJsonAsync<List<SmartphoneViewModel>>("api/smartphones");
            if(phones != null && phones.Count > 0)
            {
                Smartphones = phones;
            }
        }
        catch(Exception e)
        {
            // todo show error 
            ErrorMessage = e.Message;
        } 
    }
}