@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="mt-10 max-w-md mx-auto">
    <h3 class="font-bold text-3xl">@ViewData["Title"]</h3>
    <hr />
</div>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="mt-10 max-w-md mx-auto">
    <div class="max-w-1/2">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="flex flex-col my-2">
                <label asp-for="Input.OldPassword" class="font-bold"></label>
                <input asp-for="Input.OldPassword" class="px-2 border border-gray-800 rounded h-10" disabled />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="flex flex-col my-2">
                <label asp-for="Input.NewPassword" class="font-bold"></label>
                <input asp-for="Input.NewPassword" class="px-2 border border-gray-800 rounded h-10" disabled />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="flex flex-col my-2">
                <label asp-for="Input.ConfirmPassword" class="font-bold"></label>
                <input asp-for="Input.ConfirmPassword" class="px-2 border border-gray-800 rounded h-10" disabled />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mt-2 text-right">
                <button type="submit" class="w-38 text-sm text-white font-bold h-10 bg-sky-500 hover:bg-indigo-500 transition uppercase sm:rounded rounded-lg">Update password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
