@inherits LayoutComponentBase

<div class="page h-full">
    <main class="flex flex-col h-full">
        <AdminNav />
        <div class="grow relative mx-4 justify-center">
            @Body
        </div>
    </main>
</div>
