@inherits LayoutComponentBase

<div class="page h-full">
    <main class="h-full">
        <AdminNav />
        <div class="relative h-full mx-4 sm:mx-auto">
            @Body
        </div>
    </main>
</div>
