@inherits LayoutComponentBase

<div class="page h-full">
    <main class="h-full">
        <div>

            <NavMenu />
        </div>

        <article class="h-full max-w-lg mx-4 sm:mx-auto">
            @Body
        </article>
    </main>
</div>
